.container-form {
  display: flex;
  justify-content: space-around;

  padding: 100px;
  background-color: #feffff;
}
.submit-err {
  color: red;
  text-align: center;
}
.warning {
  color: red;
  display: block;
}
.clear-warning {
  display: none;
}

.inside {
  padding: 30px;
}
.form-regis {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px;
  height: 60vh;
  box-shadow: 0 8px 6px -6px #219ebc;
  border-radius: 50px;
}

.form-login {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 50px;
  box-shadow: 0 8px 6px -6px #219ebc;
  height: 60vh;
  border-radius: 50px;
}
.input {
  width: 30vw;
  height: 5vh;
  border-radius: 5px;
  border-color: antiquewhite;
}
.input-invalid {
  width: 30vw;
  height: 5vh;
  border-radius: 5px;
  border-color: red;
}
.submit {
  border-radius: 20px;
  width: 30%;
  background-color: #4ecdc4;
  border-color: aliceblue;
}
legend {
  font-family: "Exo", sans-serif;
}
